.song-list-wrapper {
  margin: 30px;
}
.song-wrapper {
  display: flex;
  box-sizing: border-box;
  font-weight: 500;
  border-bottom: 1px solid rgb(100, 96, 96);
  padding: 5px;
  text-align: center;
  position: relative;
  line-height: 40px;
}
.song-wrapper:first-child {
  border-top: 1px solid rgb(100, 96, 96);
}
.song-title {
  margin-left: 20px;
}
.select-button {
  box-sizing: border-box;
  height: 30px;
  background-color: rgb(4, 49, 248);
  border: none;
  border-radius: 5px;
  position: absolute;
  right: 10%;
  top: 20%;
  font-weight: 600;
  color: ghostwhite;
  padding: 7px;
}
.select-button:active {
  margin-top: 1px;
}
.select-button:hover {
  cursor: pointer;
}
.song-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
